.login-page {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 90vh;
    background-image: url("../../../public/vinoteca.jpeg");
    background-size: cover;
}

.login-page:before {
    position: absolute;
    content: "";
    width: 100vw;
    height: 90vh;
    background: rgba(0, 0, 0, 0.6);
    z-index: 1;
}

.login-form {
    width: 30vw;
    height: 50vh;
    background: #3d556d;
    border-radius: 0.6vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 4vh;
    z-index: 2;
}

.login-title {
    color: #fff;
}

.login-input {
    max-width: 18vw;
    min-width: 18vw;
    height: 4vh;
    padding: 0.5vh 1vw;
    border: 2px solid #accbe9;
    border-radius: 0.6vw;
    background: #4c657e;
    color: #fff;
}

.login-submit {
    max-width: 20vw;
    min-width: 20vw;
    height: 4vh;
    padding: 0 1vh;
    border-radius: 1vw;
    border: None;
    background: #902929;
    color: white;
}
