.home-container {
    padding: 6vh 4vw;
    width: 100vw;
    height: 90vh;
}

.home-top-section {
    display: flex;
    flex-direction: row;
    width: 82vw;
    height: 41vh;
}

.home-buttons-title {
    font-family: Open Sans;
    font-size: 1.6vw;
    font-style: normal;
    font-weight: 500;
    line-height: 3vh;
    color: #fff;
}

.home-buttons {
    margin-top: -1.5vh;
}
