.add-client-popup {
    width: 30vw;
    height: 55vh;
    padding: 3vh 2vw;
    border-radius: 1vw;
    border: None;
}

.add-client-close {
    width: 30vw;
    display: flex;
    justify-content: flex-end;

    p {
        margin: 0;
        cursor: pointer;
    }
}

.add-client-form {
    width: 30vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2vh;

    input {
        width: 30vw;
        height: 3vh;
    }

    button {
        width: 30vw;
        height: 3vh;
        margin-top: 2vh;
        cursor: pointer;
        border-radius: 1vw;
        border: None;
    }
}
