.login-navbar {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100vw;
    height: 10vh;
    border-bottom: 2px solid #2E3944;
}

.login-navbar-logo {
    margin-left: 5vw;
    color: #688098;
    font-size: 3vh;
}
